<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-layout>
 <ion-list>
 <app-card-post
 username="fernando"
 location="vemos"
 avatarUrl="https://ionicframework.com/docs/img/demos/avatar.svg"
 createAt="Today"
 imagenUrl="https://scontent-qro1-1.xx.fbcdn.net/v/t39.30808-6/476556502_939968421683272_5684803528307695472_n.jpg?stp=dst-jpg_p526x296_tt6&_nc_cat=102&ccb=1-7&_nc_sid=833d8c&_nc_ohc=70ngbkQFda4Q7kNvgEvt1XT&_nc_oc=Adh8HlOvFkKmnFOAyxMdKt7oW73eDcz2P7Evs0ZmiKKhDajhNDXJ-Girbc7CTlm5FOEJBNRdbYq6JkOIHoP1zEpC&_nc_zt=23&_nc_ht=scontent-qro1-1.xx&_nc_gid=Asksurqd8y3s_L1rPC32ke4&oh=00_AYCG68cz67lmQbjSp_TJjhVLCS0xDYae6cof_L7hnmRmUA&oe=67A8CCDD"

 ></app-card-post>
 


 </ion-list>

 <ion-list>
  <app-card-post username="Luis Urias" location="Miami"
    avatarUrl="https://ionicframework.com/docs/img/demos/avatar.svg" createAt="Today"
    imagenUrl="https://www.eluniversal.com.mx/sites/default/files/2021/06/30/luis_urias.jpeg">
  </app-card-post>
</ion-list>
</app-layout>

</ion-content>